.backgroundColorBlack {
    background-color: black;
}

.color {
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 5vh; */
    margin-left: 10vw;
    margin-right: 10vw
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 20vw;
    height: 100vh;
}

.btn {
    width: 10vw;
}

.nav-center {
    width: 80vw;
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style-type: none;
    margin-left: 5vw;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
